.root {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &.shadow {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
}

.heading {
    border-bottom: 1px solid #eaeaea;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }
}

.body {
    p {
        margin: 0;
        padding: 0;
    }
}

