tmp
/build/bin/*
!/build/bin/.gitinclude
dist
build-MacOS/target
build-MacOS/application

# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.priv.go

# Test binary, build with ?   	github.com/Minnek-Digital-Studio/cominnek	[no test files]
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.env
# Dependency directories (remove the comment below to include it)
# vendor/

cominnek
.vscode/settings.json