:root {
    --text-base: #333;
    --bg-base: #f3f3f3;

    --cmk-color-black: #1b1b1b;
    --cmk-color-black-light: #141414;
    --cmk-color-black-lighter: #222;
    
    --cmk-color-danger: #ff3d71;
    --cmk-color-danger-light: #ff5c8d;
    
    --cmk-color-dark: #222;
    --cmk-color-dark-light: #333;
    --cmk-color-dark-lighter: #333;

    --cmk-color-gray: #999;
    --cmk-color-gray-light: #ccc;

    --cmk-color-info: #5ac8fa;
    --cmk-color-info-light: #7dd3fc;

    --cmk-color-light: #fff;
    --cmk-color-light-light: #fdfdfd;

    --cmk-color-primary: #588dff;
    --cmk-color-primary-light: #7aa1ff;
    --cmk-color-primary-dark: #2356da;

    --cmk-color-secondary: #ffa500;
    --cmk-color-secondary-light: #ffc266;
    --cmk-color-secondary-lighter: #fff3e2;

    --cmk-color-success: #00d68f;
    --cmk-color-success-light: #5ee7b1;

    --cmk-color-warning: #fb4;
    --cmk-color-warning-light: #ffc266;

    --cmk-color-white: #fff;
    --cmk-color-white-light: #f3f3f3;
}
