* {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-base);
    color: var(--text-base);
    font-family: var(--font-body);
    font-size: var(--user-font-scale);
    line-height: 1.5;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[id] {
    scroll-margin-top: var(--cmk-header-height);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    font-weight: bold;
}

p {
    margin-bottom: 1rem;
}
